<template name="header">
<div class="navigation">
  <div class="container">
    <nav class="navbar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-header logo-centered visible-xs">
          <a class="" href="http://www.medallia.com/"><img src="/images/header-logo.svg" width="170" class="header-image"></a>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <div class="main-navbar">
          <ul class="nav navbar-nav">
            <li><a href='//www.medallia.com/what-we-do/' target='_blank'>What We Do</a></li>
            <li><a href='//www.medallia.com/platform/' target='_blank'>Platform</a></li>
            <li><a href='//www.medallia.com/solutions/' target='_blank'>Solutions</a></li>
          </ul>
          <div class="navbar-header logo-centered hidden-xs">
            <a href="http://www.medallia.com/"><img src="/images/header-logo.svg" width="170" class="header-image"></a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href='//www.medallia.com/institute/' target='_blank'>Institute</a></li>
            <li><a href='//www.medallia.com/company/' target='_blank'>Company</a></li>
            <li>
              <a href='//www.medallia.com/contact-us/' target='_blank' class='req-demo'>
                <button class=' btn btn-primary button'>Request a Demo</button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
</template>

